.navbar-brand img{
    width: 150px;
    height: auto !important;
}
header.masthead {
    background-image: url(../assets/img/gedungidb.png);
}
header.masthead::after{
    background-color: black;
    opacity: 0.7;
    position: absolute;
    height: 100%;

}
.text-primary{
    color: #024d71 !important   ;
}
.portfolio-item img{
    height: 300px;
    object-fit: cover;
}
.timeline-image img{
  width: 2000px;
  height: 157px;
  border-radius: 50%;
    object-fit: cover;
}